<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ESAM POSTGRADOS</title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>

	<div id="fb-root"></div>
	<!-- Load Facebook SDK for JavaScript -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				xfbml : true,
				version : 'v4.0'
			});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- Your customer chat code -->
	<div class="fb-customerchat" attribution=setup_tool
		page_id="1926281687645459" theme_color="#2054ce"
		logged_in_greeting="Hola, ¿en que le podemos ayudar?"
		logged_out_greeting="Gracias por visitarnos, hasta luego">
	</div>
	
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    
<div id="app">
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="#"><img src="img/logo_esam_principal.png" width="200" alt=""></a>
                            </div>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                                <a href="moodle"><img src="img/icono_moodle.png" width="50" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Postgrados</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-6">
                                                <li ><a href="#">Diplomado</a></li>
                                                <li ><a href="#">Diplomado</a></li>
                                                <li ><a href="#">Diplomado</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-6">
                                                <li ><a href="#">Maestría</a></li>
                                                <li ><a href="#">Maestría</a></li>
                                                <li ><a href="#">Maestría</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#contact">Contacto</a></li>
                                    <li><a href="#about">Conócenos</a></li>
                                    <li><a href="#convenios">Convenios</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                               <ul>
                               <li><a href="#">TARIJA</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">SUCRE</a></li>
                                            <li><a href="index.html">POTOSI</a></li>
                                        </ul>
                                    </li>
                               </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <video  class="img-responsive" id="video"  src="img/background.mp4" type="video/mp4" muted="muted" autoplay="autoplay" loop="loop">
			</video>
    </section>
    <!-- ##### Hero Area End ##### -->
    
    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-content">
                        <div class="row no-gutters">
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-6">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-agenda-1"></i>
                                    <h5>Postgrados</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-6">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-assistance"></i>
                                    <h5>Cursos de formación</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->
    
    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area section-padding-100-70" id="postgrados">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>ÚLTIMOS POSTGRADOS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <!-- Single Top Popular Course -->
                <div class="col-12 col-md-2 col-lg-3" v-for="(p,index) in programas">
                    <div class="card single-top-popular-course">
					  <a href="#"><img class="card-img-top" :src="'webdata/portadas/'+p.portada" alt="Card image cap"></a>
					  <div class="card-body text-center">
					    <p class="card-text">
					    <b>{{p.postgrado.categoria.nombre}} - {{p.postgrado.nombre}} v{{p.version}}</b><br>
					    Semipresencial - {{p.sede.nombre}}<br>
					    Inicia: {{format(p.fecha_inicio)}}
					    </p>
					  </div>
					</div>
                </div>
           </div>
           
           <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Postgrados ESAM TARIJA</h3>
                    </div>
                </div>
                <div class="col-12">
                	<select class="selectpicker" model="nuevos">
					  <option value="true">SOLO ÚLTIMOS</option>
					  <option value="false">TODOS LOS REALIZADOS</option>
					</select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-6 mb-2">
               	 	<div class="btn-group btn-group-toggle" data-toggle="buttons">
					  <label v-for="(a,index) in areas" :class="['btn','btn-primary',index==0?'active':'']" @click="cambiararea(a.id)">
					    <input type="radio" name="area" autocomplete="off" v-model="idarea" :value="a.id" :checked="index==0">{{a.nombre}} 
					  </label>
					</div>
                </div>
                <div class="col-xs-12 col-lg-6 mb-2">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" >
					  <label v-for="(c,index) in categorias" :class="['btn','btn-primary',index==0?'active':'']" @click="cambiarcategoria(c.id)">
					    <input type="radio" name="categoria" autocomplete="off" v-model="idcategoria" :value="c.id" :checked="index==0"> {{c.nombre}}  
					  </label>
					</div>
                </div>
            </div>
           <div class="row">
                <!-- Single Top Popular Course -->
                <div class="col-12 col-md-2 col-lg-3" v-for="(p,index) in programas">
                    <div class="card single-top-popular-course">
					  <a href="#"><img class="card-img-top" :src="'webdata/portadas/'+p.portada" alt="Card image cap"></a>
					  <div class="card-body text-center">
					    <p class="card-text">
					    <b>{{p.postgrado.categoria.nombre}} - {{p.postgrado.nombre}} v{{p.version}}</b><br>
					    Semipresencial - {{p.sede.nombre}}<br>
					    Inicia: {{format(p.fecha_inicio)}}
					    </p>
					  </div>
					</div>
                </div>
             </div>
    	</div>           
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->
    
    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                      		<div class="cta-content">
	                        	<h3>{{sedes[s].nombre}}</h3>
	                            <ul class="info">
	                            	<li>
	                                	<h5><b class="fa fa-university"></b>{{sedes[s].direccion}}</h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-phone"></b>{{sedes[s].telefono_fijo}}</h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-mobile"></b>
	                                    <a :href="'https://api.whatsapp.com/send?phone=591'+sedes[s].telefono1+'&text=Hola,%20quisiera%20más%20información'" target="_blank" class="white underline title" style="font-size:18px" title="Envíar mensaje por Wathsapp">
	                                    	{{sedes[s].telefono1}}<i class="icofont icofont-whatsapp"></i> </a>(Whatsapp) </h5>
	                                	<h5><b class="fa fa-mobile"></b>
	                                	<a :href="'https://api.whatsapp.com/send?phone=591'+sedes[s].telefono2+'&text=Hola,%20quisiera%20más%20información'" target="_blank" class="white underline title" style="font-size:18px" title="Envíar mensaje por Wathsapp">
	                                    	{{sedes[s].telefono2}}<i class="icofont icofont-whatsapp"></i> </a>(Whatsapp) </h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-facebook"></b><a href="#">ESAM Sucre</a></h5>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="col-xs-12 col-md-6">
	                    	<div class="map" id="map"></div>
	                    </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->
    
	<!-- ##### Testimonials Area Start ##### -->
    <div class="testimonials-area section-padding-100 bg-img bg-overlay" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                        <h3>Conoce más de nosotros</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Testimonials Area -->
                <div class="col-12 col-md-6">
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                        <div class="testimonial-thumb">
                            <img src="img/bg-img/t1.jpg" alt="">
                        </div>
                        <div class="testimonial-content">
                            <h5>Great teachers</h5>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            <h6><span>Maria Smith,</span> Student</h6>
                        </div>
                    </div>
                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                        <div class="testimonial-thumb">
                            <img src="img/bg-img/t1.jpg" alt="">
                        </div>
                        <div class="testimonial-content">
                            <h5>Great teachers</h5>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            <h6><span>Maria Smith,</span> Student</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Testimonials Area -->
                <div class="col-12 col-md-6">
                	<div class="fb-like text-center"
						data-href="https://www.facebook.com/unsxxbolivia" data-width=""
						data-layout="button_count" data-action="like" data-size="large"
						data-show-faces="true" data-share="true"></div> 
                    <div class="fb-page"
						data-href="https://www.facebook.com/unsxxbolivia"
						data-tabs="timeline" data-width="" data-height=""
						data-small-header="false" data-adapt-container-width="true"
						data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/unsxxbolivia "
							class=" fb-xfbml-parse-ignore ">
							<a href="https://www.facebook.com/unsxxbolivia"> Escuela de
							Negocios - Universidad Nacional Siglo XX - Bolivia </a>
						</blockquote>
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                   <h3>Generando experiencias...</h3>
                </div>
            </div>
            <div class="gallery">
				<a v-for="g in galeria" :href="'webdata/galeria/'+g.foto"><img :src="'webdata/galeria/thumbs/'+g.foto" :alt="g.descripcion" :title="g.descripcion" width="200" height="200"/></a>
			</div>
        </div>
    </div>
    <!-- ##### Testimonials Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0"  id="convenios">
        <div class="container">
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="course-icon">
                            <i class="fa fa-university"></i>
                        </div>
                        <div class="course-content">
                            <h4>UNSXX</h4>
                            <p>Convenio con la universidad púbilica</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="course-icon">
                            <i class="fa fa-universit"></i>
                        </div>
                        <div class="course-content">
                            <h4>FDPT</h4>
                            <p>Convenio Federación de profesionales</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="course-icon">
                            <i class="fa fa-universit"></i>
                        </div>
                        <div class="course-content">
                            <h4>otro convenio</h4>
                            <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <div class="course-icon">
                            <i class="icon-like"></i>
                        </div>
                        <div class="course-content">
                            <h4>Social Media</h4>
                            <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="course-icon">
                            <i class="icon-responsive"></i>
                        </div>
                        <div class="course-content">
                            <h4>Development</h4>
                            <p>Lacinia, lacinia la cus non, fermen tum nisi.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="800ms">
                        <div class="course-icon">
                            <i class="icon-message"></i>
                        </div>
                        <div class="course-content">
                            <h4>Design</h4>
                            <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### -->

    <!-- ##### Partner Area Start ##### -->
    <div class="partner-area section-padding-0-100">
        <div class="container">
        	<div class="row">
        		<h3 class="text-center">Nuestra corporación</h3>
        	</div>
            <div class="row">
                <div class="col-12">
                    <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                        <a href="#"><img src="img/logo_fc.png" alt=""></a>
                        <a href="#"><img src="img/logo_cca.png" alt=""></a>
                        <a href="#"><img src="img/logo_cybercorp.png" alt=""></a>
                        <a href="#"><img src="img/logo_ciberkids.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Partner Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> Desarrollado por ESAM
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

</div>

    <!-- ##### All Javascript Script ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugins/plugins.js"></script>
    <script src="js/simple-lightbox.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/moment-es.js"></script>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOAO9oWWZN1fOVHBaWP1vHAnTfU4zRV4Q"></script>
	<script async defer crossorigin="anónimo" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
</body>

</html>